<mat-toolbar color="primary">
  <div class="container toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <a routerLink="/">Chat</a>
    <nav *ngIf="!(user | async) else userMenu">
      <a routerLink="/register" mat-button>REGISTER</a>
      <a routerLink="/login" mat-button>SIGN IN</a>
    </nav>
  </div>
</mat-toolbar>
<div class="container">
  <ng-content></ng-content>
</div>

<ng-template #userMenu>
  <nav>
    <span>Hello, {{ (user | async)?.['displayName'] }}</span>
    <button mat-button (click)="logout()">Logout</button>
  </nav>
</ng-template>
