<mat-card>
  <mat-card-content fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between stretch">
    <fieldset fxFlex="20%">
      <legend><strong>Online users</strong></legend>
      <p>user1</p>
      <p>user2</p>
      <p>user3</p>
      <p>user4</p>
    </fieldset>

    <div fxFlex="80%" fxLayout="column" fxLayoutGap="16px" class="chat-room">
      <fieldset class="messages-area" fxLayout="column" fxLayoutAlign="flex-end">
        <legend><strong>Chat room</strong></legend>
          <div *ngFor="let m of messages" fxLayout="row" fxLayoutAlign="space-between">
            <span fxFlex="20%"><strong>{{ m.author.displayName }}: </strong></span>
            <span fxFlex="50%">{{ m.text }}</span>
            <span class="muted" fxFlex="30%">({{ m.datetime }})</span>
          </div>
      </fieldset>
      <form #f="ngForm" (ngSubmit)="onSubmit()" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center">
        <mat-form-field appearance="outline" fxFlex="80%">
          <mat-label>Enter message</mat-label>
          <input name="text" matInput ngModel>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" fxFlex="20%">Send</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>



